.Navbar {
    background-color: #98ffed;
}

.nav-link{
    color: black !important;
}

/* .footer {
    position:sticky;
    left: 0; right: 0; bottom: 0;
    height: [footer-height];
} */
#CardsCol{
    text-align: center;
}
#FormSignIn{
    text-align: center;
}
#CardBorder{
    border: solid 3px black;
    border-radius: 7px;
}

#centerform{
    text-align: center;
}
